
body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-family: 'Open Sans';
    background-color: #C2EEEA;
    color: #000 !important;
  }
  
head {
    padding-bottom: 2rem;
  }

#navbar-all {
  background-color: #F9F9FB;
  font-size: 18px;
  position: absolute;
  display: flex;
}
nav.navbar {
    background-color:  #F9F9FB;
    display: flex;
  }
  
  
  h1 {
    color: #000;
  }
  
  h2,h3 {
    color: #000;
  }
  
  h4 {
    color: #000;
  }

.search-bar {
  align-items: center;
  width: 100%;
  /* position: absolute; */
  display: flex;
  justify-content: center;
  pointer-events: none;
}
  
.search-bar input {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  height: 37px;
  width: 20%;
  background: transparent;
  color: #ffffff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  border: 2px solid rgba(245, 245, 241, 0.1);
  outline: none;
  border-radius: 37px;
  padding: 0 10px;
  pointer-events: all;
  transition: border 0.25s ease, width 0.125s ease 0.125s;
}

  .search-bar input::-moz-placeholder {
    color: black;
    font-size: 15px;
    font-weight: 500;
  }
  .search-bar input:-ms-input-placeholder {
    color: black;
    font-size: 15px;
    font-weight: 500;
  }
  .search-bar input::placeholder {
    color: black;
    font-size: 15px;
    font-weight: 500;
  }
  
  .search-bar input:focus {
    border: 2px solid black;
    width: 30%;
  }

.log-in {
    display: inline-block;
    justify-content: flex-end !important;
    right: 0;

}